<nav>
    <ul>
      <li><a href="/">home</a></li>
      <li>/</li>
      <li><a href="/about/">about</a></li>
      <li>/</li>
      <li><a href="/posts/">blog</a></li>
      <li>/</li>
      <li><a href="/code/">code</a></li>
      <li>/</li>
      <li><a href="/sport/">sport</a></li>
      <li>/</li>
      <li><a href="/todo/">todo</a></li>
      <li>/</li>
      <li><a href="https://www.github.com/wiwh">github</a></li>
      <li>/</li>
      <li><a href="/contact/">contact</a></li>
    </ul>
  </nav>